{% extends "base.html.twig" %}


{% block body %}
{% include "header.html.twig" %}
    <div class='dark bg-fond_profil_user bg-cover bg-no-repeat max-w-full mx-auto'>
    <div class="max-w-5xl mx-auto h-screen flex flex-col items-center justify-around">
        <div class="h-1/6">
            <img src="{{ asset('/images/logoNew.png') }}" alt="logo">
        </div>
        <div class="h-3/6 flex justify-around flex-col w-full">
            <div class="text-center w-1/3 mx-auto">
                <h1 class="text-4xl text-white bg-[#7F7FFF] p-4 rounded-xl">Vous êtes ?</h1>
            </div>
            <div class="flex justify-between">
                <div class="choicebg text-3xl text-white p-5 rounded-xl">
                    <a href="{{path('app_register_company')}}">une entreprise</a>
                </div>
                <div class="choicebg text-3xl text-white p-5 rounded-xl">
                    <a href="{{path('app_register_formation')}}">un centre de formation</a>
                </div>
                <div class="choicebg text-3xl text-white p-5 rounded-xl">
                    <a href="{{path('app_register')}}">un candidat</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}