<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choix inscrpition</title>
</head>
<body>
    <div class="max-w-2xl mx auto h-screen flex items-center justify-between">
        <div class="p-4 rounded bg-slate-300">
            <a href="{{path('app_register_company')}}">Entreprise</a>
        </div>
        <div class="p-4 rounded bg-slate-300">
            <a href="{{path('app_register_formation')}}">Centre de formation</a>
        </div>
        <div class="p-4 rounded bg-slate-300">
            <a href="#">Candidat</a>
        </div>
    </div>
</body>
</html>