{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="w-full mt-8 relative pb-2">
        <img src="{{ asset('/images/bgOrange.jpg') }}"  class="mx-auto" alt="ordinateur"> 
        <div class="lg:absolute bottom-[7rem] left-[14rem] border-2 border-black rounded-full w-3 h-3  animate-pulse bg-gray-600 cursor-pointer">
            <a href="#" class=""></a>
        </div>
          <div class="lg:absolute bottom-[23rem] left-[34rem] w-[400px]">
            <form class="flex items-center w-full">   
                <label for="voice-search" class="sr-only"></label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <input type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Recherche..." required>
                    <button type="button" class="absolute inset-y-0 right-0 flex items-center pr-3">
                        <svg aria-hidden="true" class="w-4 h-4 text-gray-500 dark:text-gray-400 hover:text-gray-900 dark:hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7 4a3 3 0 016 0v4a3 3 0 11-6 0V4zm4 10.93A7.001 7.001 0 0017 8a1 1 0 10-2 0A5 5 0 015 8a1 1 0 00-2 0 7.001 7.001 0 006 6.93V17H6a1 1 0 100 2h8a1 1 0 100-2h-3v-2.07z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>  
            </form>

        </div>
        <div class="lg:absolute bottom-[6rem] right-[18rem] border-2 border-black rounded-full w-3 h-3  animate-pulse bg-gray-600 cursor-pointer">
            <a href="#" class="" title="Texte qui s'affiche"></a>
        </div>
        <div class="lg:absolute top-[8rem] right-[17rem] border-2 border-black rounded-full w-3 h-3  animate-pulse bg-gray-600 cursor-pointer">
            <a href="#" class=""></a>
        </div>
      
    </div>
    <div class="w-[800px] mx-auto mt-6 leading-7 pb-6">
        <p class="text-center">CMRC, au coeur de l’informatique,
            Notre équipe, au nombre extraordinaire de 4 personnes, dédiée à vos besoins, met tout en oeuvre afin de répondre à vos attentes. Que  !
            vous soyez stagiaire, professionnel du secteur ou organisme de formation, n’ayez crainte, nous sommes là, 
            Suivez le guide !</p>
    </div>

    <div class="bg-home lg:pt-4 items-center text-center">
        <div class="lg:flex w-[950px] items-center mx-auto gap-12 mt-10 relative">
            <div class="lg:w-1/2">
                <p class="text-justify font-semibold">A toi, jeune stagiaire, perdu et égaré entre toutes ces ESN qui n’aspire qu’à trouver l’entreprise idéale ou le centre de formation de tes rêves, sert toi de notre formidable site pour chercher et trouver le bonheur ainsi que le graal suprême qu’est le stage !</p>
            </div>

            <div class="w-1/2">
                <a href="#" class="bg-orange-500 text-white px-14 py-2 rounded-md lg:mt-4 h-10">Candidat</a>
            </div>
        </div>
        <div class="lg:flex w-[900px] items-center mx-auto gap-12 mt-12 relative">
            <div class="lg:w-1/2">
                <a href="#" class="bg-orange-500 text-white px-6 py-2 rounded-md lg:mt-4 h-10">Centre de  formation</a>
            </div>

            <div class="lg:w-1/2">
                <p class="text-justify font-semibold lg:w-[400px]">A toi, jeune stagiaire, perdu et égaré entre toutes ces ESN qui n’aspire qu’à trouver l’entreprise idéale ou le centre de formation de tes rêves, sert toi de notre formidable site pour chercher et trouver le bonheur ainsi que le graal suprême qu’est le stage !</p>
            </div>
        </div>
         <div class="lg:flex w-[950px] items-center mx-auto gap-12 mt-12 relative pb-4">
            <div class="lg:w-1/2">
                <p class="text-justify font-semibold">A toi, jeune stagiaire, perdu et égaré entre toutes ces ESN qui n’aspire qu’à trouver l’entreprise idéale ou le centre de formation de tes rêves, sert toi de notre formidable site pour chercher et trouver le bonheur ainsi que le graal suprême qu’est le stage !</p>
            </div>

            <div class="lg:w-1/2 mx-auto items-center">
                <a href="#" class="bg-orange-500 text-white px-14 py-2 rounded-md lg:mt-4 h-10 items-center">Entreprise</a>
            </div>
        </div>
    </div>

    <div class="w-full mx-auto lg:flex columns-1">
        <div class="flex">
            <h2>Témoignages</h2>
            <div>
                <img src="{{ asset('/images/intel.png') }}" alt="logo intel" class="w-24">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, repudiandae!</p>
            </div>
            <div>
                <img src="{{ asset('/images/m2i.png') }}" alt="logo m2i" class="w-24 rounded-full">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, repudiandae!</p>
            </div>
            <div>
                <img src="{{ asset('/images/webforce.png') }}" alt="logo webforce" class="w-24 rounded-full">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, repudiandae!</p>
            </div>
        </div>
    
    </div>

    
{% endblock %}
