{% extends "base.html.twig" %}
{% use "form.html.twig" %}
{% block body %}
    <div class="p-4 bg-slate-200 rounded my-4 max-w-md mx-auto">
    {{form_start(registrationFormCompany)}}
    <div class="mx-auto justify-center items-center max-w-screen-xl">
        {{form_label(registrationFormCompany.)}}
        {{form_widget(registrationFormCompany)}}
    </div>
        
        <div class="w-1/2 mx-auto bg-slate-400 text-center rounded">
            <button formnovalidate class=" p-2 font-md font-bold">S'inscrire</button>
        </div>
    {{form_end(registrationFormCompany)}}
    </div>
{% endblock %}