{% extends 'base.html.twig' %}

{% block title %}Modification du profil de
	{{ user.firstname }}
{% endblock %}

{% block body %}

    <div class="grid grid-cols-4">
        <h1>Modification de mon profil</h1>
        {{ form(form) }}
       
    </div>

{% endblock %}