{% extends 'base.html.twig' %}

{% block title %}Profil -
	{{ parent() }}
{% endblock %}

{% block body %}
<body class="w-full">
	{% include 'header.html.twig' %}
	
		<div class="p-12 flex justify-center items-center space-x-8">
			<img src="https://tecdn.b-cdn.net/img/new/avatars/2.webp" class="w-32 rounded-full" alt="Avatar"/>
			<h1 class="text-5xl">{{ user.name }}
				{{ user.firstname }}</h1>
		</div>

		<div class="bg-fond_profil_user">
        
        
        
        
        
        
        
        
        </div>

	{% include "footer.html.twig" %}
    	</body>
{% endblock %}
